<!DOCTYPE html>
<html>
<head>
  <%- include("../partials/header",{title:"Node.js Getting Started on Heroku"}) %>
</head>

<body>

    <% include ../partials/nav.ejs %>

    
    <div class="jumbotron text-center">
        <div class="container">
            <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
            </a>
            <h1>Nostratech</h1>
            <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
            <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
            <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
        </div>
    </div>

    <div class="container">
        <section class="row" id="nostraImages">
            <div id="nostraImages--caption" class="carousel slide col-md-6">
                <div class="carousel-inner carousel--text">
                <% listImage.forEach(function(el) { %>
                    <div class="carousel-item <%= el.class %>">
                        <h1 class="carousel--text__title text__big">
                        <%= el.caption.title %>
                        </h1>
                        <p><%= el.caption.description %></p>
                    </div>  
                <% }); %>
                </div>
            </div>
            <div id="nostraImages--carousel" class="carousel slide col-md-5">
                <div class="carousel-inner">
                <% listImage.forEach(function(el) { %>
                    <div class="carousel-item <%= el.class %>">
                        <img class="d-block w-100" src="/img/<%= el.source %>" alt=<%= el.alternate %>>
                    </div>  
                <% }); %>
                </div>
                <a class="carousel-control-next" href="#nostraImages--carousel" role="button" data-slide="next">
                <span>Next &#62;</span>
                </a>
            </div>
        </section> <!-- end of section -->

        <section id="nostraService" class="mb-5">
            <div id="nostraService--carousel" class="carousel" data-ride="carousel">
                <div class="carousel-inner">
        
                <% services.forEach(function(service) { %>
                    <div class="carousel-item <%= service.class %>">
                        <div class="row services no-margin">
                            <div class="col-md-6 services--left">
                                <h1 class="heading--number"><%= service.no %></h1>
                                <h1 class="heading--secondary white"><%= service.title %></h1>
                                <p><%= service.description %></p>
                            </div>
                            <div class="col-md-6 services--right">
                                <img src="/img/<%= service.image %>" alt="services-1">
                            </div>
                        </div>
                    </div>
                <% }); %>

                    
                </div>
                <div class="carousel-control">
                        <a class="carousel-control-prev mr-2" href="#nostraService--carousel" role="button" data-slide="next">
                            <span>&#60;</span>
                        </a>
                        <a class="carousel-control-next" href="#nostraService--carousel" role="button" data-slide="prev">
                            <span>&#62;</span>
                        </a>
                    </div>
            </div>
        </section>

        <!-- 
            TODO :
            > [NOTE] replace id sectionTheme to be more descriptive
            > [FIX] Untuk text dengan panjang < lebar container, maka akan pindah ke bawah            
         -->
        <section class="col-12 mb-5" id="sectionTheme">
            <div class="row" style="padding:0 8.3%;">
                <div class="col-1">
                    <i class="font-weight-light text__green text__vertical-lg" style="font-size:1.5rem">Section</i>
                </div>
                <div id="sectionTheme--carousel" class="carousel col-11 px-0" style="width:91.77%" data-ride="carousel">
                    <div class="carousel-inner">
                        <% listText.forEach(function(el) { %>
                            <div class="carousel-item <%= el.class %>">
                                <div class="card border-0">
                                    <div class="card--header mb-4">
                                        <span class="text--title font-weight-bold">
                                            <%= el.title %>
                                        </span>
                                    </div>
                                    <div class="card--body d-block text__primary">
                                        <% el.paragraphs.forEach(function(para) { %>
                                            <p><%= para %></p>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                    <div class="carousel-control">
                        <a class="carousel-control-prev mr-2" href="#sectionTheme--carousel" role="button" data-slide="prev">
                            <span>&#60;</span>
                        </a>
                        <a class="carousel-control-next" href="#sectionTheme--carousel" role="button" data-slide="next">
                            <span>&#62;</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>  <!-- End of section -->
        <!-- 
            TODO :
            [NOTE] replace id sectionTheme2 to be more descriptive
         -->
        <section class="row p-2 mb-5" id="sectionTheme2">
            <div class="col-5" id="sectionTheme2--img" style="background-image:url( <%= imageBox.source %>)">
            </div>
            <div class="col-7" id="sectionTheme2--caption">
                <div class="py-2 p-md-5">
                    <div class="card border-0 text__primary mb-3">
                        <div class="card--header mb-4">
                            <h2 class="text--title mb-2">
                                <%= imageBox.caption.title %>
                            </h2>
                        </div>
                        <div class="card--body d-block">
                            <% imageBox.caption.paragraphs.forEach(function(para) { %>
                              <p><%= para %></p>  
                            <% }) %>
                        </div>
                    </div>
                    <button class="btn btn-primary border-0"><span class="px-3">lorem</span></button>
                </div>
            </div>
        </section>  <!-- End of section -->
        <section id="userStory" class="row mb-5">
            <h2 class="text-center text-uppercase col-12 text__primary mb-5">What customer say</h2>
            <div class="userStory--layout">
                <% listUserStory.forEach(function(story) { %>
                    <div class="card col-md-3 col-6 border-0">
                        <div class="card-img-top align-self-center border-0">
                            <img class="userStory--img" src="<%= story.img.source %>" alt="<%= story.img.alternate %>">
                        </div>
                        <div class="card-body text-center text__primary">
                            <p class="card-title text-uppercase font-weight-bold text__purple"><%= story.caption.title %></p>
                            <% story.caption.paragraphs.forEach(function(para) { %>
                                <p><%= para %></p>
                            <% }) %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section> <!-- End of section -->
    </div>
    <div class="container">
    <div class="alert alert-info text-center" role="alert">
        To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
        <ul>
            <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/node-js-getting-started">Heroku Button</a> on the repository.</li>

            <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/master/package.json">package.json</a>, creating a deployable slug.</li>
            <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
            <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
        </ul>
        </div>
        <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
        <ul>
            <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
            <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
            <ul>
            <li><code>git clone https://github.com/heroku/node-js-getting-started.git</code> - this will create a local copy of the source code for the app</li>
            <li><code>cd node-js-getting-started</code> - change directory into the local source code repository</li>
            <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
            <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#push-local-changes">deploy changes</a> to Heroku</li>
            </ul>
        </ul>
        <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
        <ul>
            <li><a href="https://www.heroku.com/home">Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
        </ul>
        </div>
    </div> <!-- row -->
    <div class="alert alert-info text-center" role="alert">
        Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
    </div>
    </div>

    <% include ../partials/footer.ejs %>


</body>
</html>
